body {
    background: white;
}


.main {
    margin-top: 100px;
    text-align: center;
}

.text-input {
    width: 400px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;

}

.btn {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    background: #dfe1e5;

}

.logo-img {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}